@font-face {
    font-family: 'Roboto-Bold.ttf';

    src: url('fonts/Roboto-Bold.ttf') format('ttf');

    font-family: 'Roboto-Black.ttf';

    src: url('fonts/Roboto-Black.ttf') format('ttf');

    font-family: 'Roboto-Medium.ttf';

    src: url('fonts/Roboto-Medium.ttf') format('ttf');

    font-family: 'Roboto-Light.ttf';

    src: url('fonts/Roboto-Light.ttf') format('ttf');
}

h1, h2, h3, h4, h5, h6, p, body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

#services, #projets, #contact {
    padding: 50px 0px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

/* ------------------- NAV pc tablette ------------------ */

#navbar {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background-color: white;
}
 
header .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
                      
nav {
    display: flex;
}

.logo {
    
    display: flex;
    align-items: center;
    color: #54acce;
}

header nav a {
    padding: 30px 12px;
    display: block;
    font-family: 'Roboto-Light', sans-serif;
    text-decoration: none;
    color: black;
    border-top: 3px transparent solid;       
}

header nav a:hover {   
    border-top: 3px #54acce solid;
    transition: 0.3s;    
}

#logo i {
    font-size: 30px;
}

h1 {
    font-size: 20px;
    padding-left: 8px;
}

h1 a {
    font-size: 28px;
    font-family: 'Roboto-Black', sans-serif;
    text-decoration: none;
    color: #54acce;

}

/* NAV pc tablette fin  */


/* ------------------------ NAV Smartphone ------------------------- */

details {
    display: none;  
}

summary {
   display: flex;  
   align-items: center;
   padding: 9px 0;
}

:focus {
   outline: none;
}

.test {
   padding: 30px 0;
   display: block;
   font-family: 'Roboto-Light', sans-serif;
   text-decoration: none;
   background-color: white;
   color: black;
   display: flex;
   justify-content: center;
}

details figure {
    margin: 0;
}


summary::-webkit-details-marker {
   display: none;
}

summary i {
   font-size: 40px;
   color: #1790ae;
}

#content-nav-burger {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* ------------------------ NAV Smartphone Fin ------------------------- */





/* --------------------------- Img header ------------------------------- */

#img-header h1 span {
    color: #54acce;
}

#img-header {
    background: url('img/bg1.jpg') no-repeat top center;
    background-size: cover;
    height: 680px;
    width: 100%;
    position: relative;
    margin-top: 80px;
}


#slogan {
    font-family: 'Roboto-Black', sans-serif;
    font-weight: bold;
    color: white;
    width: 75%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;  
}

#img-header .container h1 {
    font-family: 'Roboto-Black', sans-serif;
    color: white;
    width: 75%;
    font-size: 40px;
}

#img-header .container {
    height: 100%;
    display: flex;
    align-items: center;
}

#bouton-info {
    border-radius: 4px;
    background-color: #54acce;    
    border-bottom: 3px #3993b6 solid;
    display: flex;
    justify-content: center;
    height: 50px;
    width: 130px;
    margin-top: 6px;     
}

#bouton-info a {
    display: flex;
    justify-content: center;
    align-items: center;   
    text-decoration: none;
    color: white;
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: bold;
    width: 130px;    
}


.bouton-slider-left {
    display: flex;
    align-items: center;
    width: 60px;
    height: 100%;
    position: absolute;
    left: -25px;
}

.bouton-slider-right {
    display: flex;
    align-items: center;
    width: 60px;
    height: 100%;
    position: absolute;
    right: -25px;
}

#circle-left {
    height: 70px;
    width: 60px;
    background-color: black;
    opacity: 0.3;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-right {
    height: 70px;
    width: 60px;
    background-color: black;
    opacity: 0.3;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#circle-left a i {
    padding-left: 20px;
    color: white;
    font-size: 38px;
    opacity: 1;
}

#circle-right a i {
    padding-right: 20px;
    color: white;
    font-size: 38px;
    opacity: 1;
}

#container-time-line {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;

}

#time-line {
    height: 6px;
    width: 100%;
    background-color: black;
    opacity: 0.2;

}

.active-time-line {
    width: 10%;
    height: 6px;
    background-color: #54acce;
}

/* Img header fin */

/* ------------------------ Services ------------------------- */
.ico-transition-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-transition {
    height: 20px;
    width: 20px;
    background-color: #54acce;
    border-radius: 100%;   
}

.line-right {
    width: 72px;
    border: 0.5px #eaeaea solid;
    height: 0;
    margin-left: 2px;
}

.line-left {
    width: 72px;
    border: 0.5px #eaeaea solid;
    height: 0;
    margin-right: 2px;
}


#nos-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto-Light', sans-serif;
}

#services .container h2 {  
     font-size: 40px;
     font-family: 'Roboto-Bold', sans-serif;
     text-decoration: none;
     padding-top: 25px;
     padding-bottom: 25px;
}

#presentation-services {
    text-align: center;
    width: 60%;
    padding: 25px 0;
}

#services-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
}

.description-services {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin-bottom: 15px;
}

.description-service {
    width: 60%;
    font-family: 'Roboto-Light', sans-serif;
}

.icone-description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    height: 62px;
    width: 62px;
    border: 1px #e5e5e5 solid;
    border-radius: 100%;
    position: relative;
}

.icone-description::after {
    content: ' ';
    position: absolute;
    right: -6px;
    height: 13px;
    width: 13px;
    background-color: #54acce;
    border-radius: 100%;
}


.icone-description i {
    font-size: 25px;
    color: #54acce;
}

/* ------------------------ Services fin ------------------------- */

/* ------------------------ Projets ------------------------- */

#projets {  
    background-color: #f5f5f5;
}

#nos-projets {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto-Light', sans-serif;
}

#presentation-projets {
    width: 60%;
    text-align: center;
    padding-top: 25px;   
}

#projets .container h2 {    
    font-size: 40px;
    font-family: 'Roboto-Bold', sans-serif;
    text-decoration: none;
    padding-bottom: 25px;
}

#nav-projets {
    justify-content: center;  
    display: flex;
    padding: 50px 0;
}

#nav-projet1  {
    border-radius: 7px 0 0 7px;
    background-color: #54acce;
    border-bottom: 3px #3993b6  solid;
    color: white;
}

#nav-projet1::after {
    opacity: 1;
}

#nav-projet4 {
    border-radius: 0 7px 7px 0;
}

.bouton-projet:hover {
    background-color: #54acce;
    border-bottom: 3px #3993b6  solid;
    color: white;
}

.bouton-projet:hover::after {
    opacity: 1;
}

.bouton-projet {
    background-color: #e4e4e4;
    transition: background-color 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-Black', sans-serif;
    font-weight: bold; 
    text-decoration: none;
    color: #64686c;    
    font-size: 16px;
    width: 100px;
    height: 50px;
    position: relative;   
}

.bouton-projet::after { /* Triangle */
    content: ' ';
    opacity: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #4494bb transparent transparent transparent;
    position: absolute;
    bottom: -10px;
}

#grid-portfolio {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px; /* repeat(4, 1fr) */
    grid-gap: 27px;     
}

.element-portfolio {
    position: relative;
}

.element-portfolio img {
     width: 100%;   
 }

/* ------------------------ Effet Overlay ------------------------- */

.overlay-portfolio {  
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    top: 0;
    bottom: 3px;
    right: 0;
    left: 0;
    z-index: 1;  
}

.overlay-content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.texte-overlay {
    font-family: 'Roboto-Light', sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding-left: 15px;
    padding-bottom: 18px;
    z-index: 2;
}

.icone-overlay {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 66px;
    z-index: 2;
}

.ring-icone {
    background-color: #3d92ad;
    border: 2px white solid;
    border-radius: 100%;
    height: 42px;
    width: 42px;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.ring-icone i {
    color: white;
}

.overlay-portfolio::after {
    content: ' ';
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.overlay-portfolio:hover {
    opacity: 1;
}

/* ------------------------ Effet Overlay fin ------------------------- */


 /* ------------------------ Projets fin ------------------------- */
  

 /* ------------------------ Contact ------------------------- */

 #contact {   
    width: 100%;
    position: relative;
 }

 #overlay-map {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba( 74, 171, 202, 0.3);
    z-index: 2;
    top: 0;
 }

iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;  
}

 #formulaire {
     background-color: #ffffff;
     padding: 24px;
     width: 394px;
     display: flex;
     justify-content: center;
     font-family: 'Roboto-Light', sans-serif;
     border-radius: 2px;
     z-index: 2;
 }

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

 form input, form textarea {
    padding-left: 5px;
    height: 25px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px grey solid;  
 }

 form textarea {
     height: 168px;
     max-height: 168px;
     max-width: 100%;
     min-height: 168px;
     min-width: 100%;
 }

 .titre-formulaire {
     font-weight: bold;
     font-size: 26px;
     padding-top: 20px;
     padding-bottom: 8px;
 }

 #bouton-formulaire {
    width: 115px;
    height: 32px;
    border-radius: 3px;
    background-color: #5cadd3;
    margin-bottom: 20px;
    border: none;
    border-bottom: 3px #4494bb solid;
    font-family: 'Roboto-Light',sans-serif;
    font-weight: bold;
    color: white;
    font-size: 13.5px;   
}

#contact .container {
    display: flex;
    justify-content: flex-end;
}

#adress span {
    font-weight: bold;
    font-size: 20px;
}

 /* ------------------------ Contact FIN ------------------------- */





@media all and (max-width: 1280px) {

    iframe {
        display: none;
    }

    #overlay-map {
        background-color: rgba( 245, 245, 245, 1)
    }
    
    #mockup {
        width: 100%;
    }

    header .container {
        padding: 0 25px;
    }

    #img-header .container {
        padding: 0 25px;
    }

    .bouton-slider-right {
        display: none;
    }

    .bouton-slider-left {
        display: none;
    }

    #services-content {
        flex-direction: column;
    }

    .description-services {
        justify-content: center;
    }

    #services-content img {
        padding-bottom: 25px;
    }

    #grid-portfolio {
        display: grid;
        grid-template-columns: 1fr 1fr; /* repeat(4, 1fr) */
        padding-left: 25px;
        padding-right: 25px;
    }

    #contact .container {
        justify-content: center;
        padding-bottom: 25px;
    }

    #presentation-projets {
        width: 80%;
    }

    #presentation-services {
        width: 80%;
    }

    .active-time-line {
        width: 25%;
    }

    .texte-overlay {
        font-size: 22px;
        padding-left: 20px;
        padding-bottom: 20px;
    
    }
}
@media all and (max-width: 768px) {


    /* Transition nav pc -> smartphone */
    nav {
        display: none;
    }

    .logo {
        display: none;
    }

    details {
        display: block;
       
    }
   
    header .container {
        justify-content: center;
    }
    /* Transition nav pc -> smartphone fin */

    #img-header {
        height: 485px;
        margin-top: 80px;

    }

    #img-header .container h2 {
        width: 100%;
        font-size: 30px;
    }

    #services .container h2, #projets .container h2 {
        font-size: 30px;
    }

    #grid-portfolio {
        grid-template-columns: 1fr;
    }

    .texte-overlay {
        font-size: 20px;
        padding-left: 35px;
        padding-bottom: 35px;
    }
}